#navtitle {
 font-family: 'Anton', sans-serif;
 font-family: 'Pacifico', cursive;
 font-size: xx-large;  
 color: rgb(4, 138, 148);
 text-shadow: 2px 2px whitesmoke; 
}
  
#navbarNav {
    font-family: 'Fjalla One', sans-serif;
    text-shadow: 1px 1px rgb(87, 87, 87); 
}

#loginbody {
    background-color: rgba(36, 35, 35, 0.5)

}


#login {
    background-color: rgb(4, 138, 148);
    font-family: 'Anton', sans-serif;
    font-family: 'Pacifico', cursive;
    font-size: large;
} 

#loginbtn {
    background-color: rgb(4, 138, 148);
    font-family: 'Anton', sans-serif;
    font-family: 'Pacifico', cursive;
    color: white;   
}

body {
    background-image: url(consulation.jpg);
    background-repeat: no-repeat;
   background-attachment: fixed;  
   background-size: cover;
} 

#registerbtn {
    background-color: rgb(4, 138, 148);
    font-family: 'Anton', sans-serif;
    font-family: 'Pacifico', cursive;
    font-size: larger; 
    color: white;   
}

#registerhead {
    background-color: rgb(4, 138, 148);
    color: white;   
    font-family: 'Anton', sans-serif;
    font-family: 'Pacifico', cursive;
    font-size: larger;
 
}


#registerbody {
    background-color: rgba(36, 35, 35, 0.5)
} 

#adminbody {
    background-color: rgba(36, 35, 35, 0.5)
}

#adptitle {
    background-color: rgb(4, 138, 148);
    color: white;   
    font-family: 'Fjalla One', sans-serif;
    font-size: larger;
    text-shadow: 2px 2px rgba(44, 0, 116, 0.925); 
} 

#addproduct {
    background-color: rgba(0, 0, 0, 0.5);
}

#addproductbtn {
    background-color: rgb(4, 138, 148);
    font-family: 'Fjalla One', sans-serif;
    font-size: larger; 
    color: white;   
    text-shadow: 2px 2px rgba(44, 0, 116, 0.925); 
} 

#headingOne {
    background-color: rgb(4, 138, 148);
    color: white;   
    font-family: 'Fjalla One', sans-serif;
    text-shadow: 2px 2px rgba(44, 0, 116, 0.925); 
}

#cjumbo {
    background-image: url(counseling.jpg);
    background-repeat: no-repeat;
    font-family: 'Anton', sans-serif;
    font-family: 'Pacifico', cursive;
    font-size: xx-large;  
    color: rgb(4, 138, 148);
    text-shadow: 2px 2px rgb(163, 163, 163); 
}

#carthead {
    background-color: rgb(4, 138, 148);
    color: white;   
    font-family: 'Fjalla One', sans-serif;
    text-shadow: 2px 2px rgba(44, 0, 116, 0.925); 
}

#cartbody {
    font-family: 'Fjalla One', sans-serif;
    background-color: rgba(216, 216, 216, 0.5)
    
}

#tablefoot {
    background-color: rgb(4, 138, 148);
    color: white;   
    font-family: 'Fjalla One', sans-serif;
}

#clearcart {
    background-color: rgb(4, 138, 148);
    color: white;   
    font-family: 'Fjalla One', sans-serif;
}

#cartcard {
    background-color: rgba(7, 107, 146, 0.5);
    color: white;   
    font-family: 'Fjalla One', sans-serif;
    font-size: medium; 
    text-shadow: 1px 1px rgb(87, 87, 87); 
}

#cartcardhead {
    background-color: rgb(4, 138, 148);
    font-size: larger; 
}

#carddesc {
    font-size: larger; 
} 

#noOrders {
    background-color: firebrick ;
    font-family: 'Anton', sans-serif;
    font-family: 'Pacifico', cursive;
    font-size: xx-large;  
    color: rgb(4, 138, 148);
    text-shadow: 2px 2px whitesmoke;   
}

#calendar {
    background-color: rgb(4, 138, 148);
    color: white;   
} 

#home {
    font-family: 'Anton', sans-serif;
    font-family: 'Pacifico', cursive;
    font-size: xx-large;  
    color: rgb(4, 138, 148);
    text-shadow: 2px 2px whitesmoke; 
}

#calendarbod {
    font-family: 'Anton', sans-serif;
    font-family: 'Pacifico', cursive;
    color: rgb(4, 138, 148);
    text-shadow: 2px 2px rgba(44, 0, 116, 0.925); 
}